{% extends "layout/basic.html" %}
{% block title %}Добавление изображения{% endblock %}
{% block content %}
{% load bootstrap4 %}
    <h1>Добавить изображение</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='Добавить' %} {% endbuttons %}
    </form>

    <a href="{% url 'bboard:index' %}">Вернуться к списку</a>

    {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
